body {
  font-family: Roboto;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.grid-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.grid-item {
  width: calc((100% - 90px) / 3);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.advantages {
  padding-top: 94px;
}
.advantages__item {
  margin-left: 30px;
}
.advantages__item:first-child:before {
  margin-bottom: 30px;
  content: "" url(../photo/Satellite.webp);
  display: block;
}
.advantages__item:nth-child(2):before {
  margin-bottom: 30px;
  content: "" url(../photo/Clock.webp);
  display: block;
}
.advantages__item:nth-child(3):before {
  margin-bottom: 30px;
  content: "" url(../photo/Computer.webp);
  display: block;
}
.advantages__item:nth-child(4):before {
  margin-bottom: 30px;
  content: "" url(../photo/SpaceMan.webp);
  display: block;
}
.advantages__name {
  margin-bottom: 10px;
  color: #212121;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
}
.advantages__article {
  color: #757575;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.advantages__list {
  display: flex;
  justify-content: space-between;
}

.clients {
  padding-bottom: 94px;
  padding-top: 94px;
}
.clients__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:nth-child(1) {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: growing-box;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
.clients__item:nth-child(2) {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: growing-box;
  animation-duration: 2s;
  animation-delay: 250ms;
  animation-iteration-count: infinite;
}
.clients__item:nth-child(3) {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: growing-box;
  animation-duration: 2s;
  animation-delay: 500ms;
  animation-iteration-count: infinite;
}
.clients__item:nth-child(4) {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: growing-box;
  animation-duration: 2s;
  animation-delay: 750ms;
  animation-iteration-count: infinite;
}
.clients__item:nth-child(5) {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: growing-box;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
.clients__item:nth-child(6) {
  border-radius: 4px;
  border: 1px solid #afb1b8;
  padding: 16px 32px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  animation-name: growing-box;
  animation-duration: 2s;
  animation-delay: 1.25s;
  animation-iteration-count: infinite;
}
.clients__item:hover {
  border: 1px solid #2196f3;
}
.clients__item:hover > .clients__icons {
  fill: #2196f3;
}
.clients__title {
  color: #212121;
  text-align: center;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 66px;
}
.clients__icons {
  fill: #afb1b8;
  width: 106px;
  height: 60px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__item:hover > .clients__icons {
  fill: #2196f3;
}

.last {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2f303a;
}
.last__container {
  display: flex;
  gap: 70px;
}
.last__item {
  margin-bottom: 10px;
}
.last__logo {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.last__article {
  margin-bottom: 18px;
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  /* 171.429% */
  letter-spacing: 0.42px;
  width: 300px;
}
.last__link {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  /* 171.429% */
  letter-spacing: 0.42px;
}
.last__text {
  color: #fff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 32px;
  padding-top: 10px;
}
.last__iconsfooter {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}
.last__iconslink {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.last__icons {
  border-radius: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last__icons:hover {
  background-color: #2196f3;
}
.last__list {
  gap: 12px;
  display: flex;
}
.last__form {
  padding-top: 12px;
  margin-left: 80px;
}
.last__title {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.last__container {
  display: flex;
  gap: 12px;
}
.last__input {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  width: 358px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last__input::-moz-placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.last__input::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
}
.last__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  padding: 10px 28px;
  background-color: #188ce8;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  animation-name: rotating-button;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.last__icon {
  fill: #fff;
  width: 24px;
  height: 24px;
}
.last__span {
  color: #fff;
}

.first {
  padding-top: 24px;
  padding-bottom: 25px;
}
.first__page {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first__page:hover {
  color: #2196f3;
}
.first__page::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: #2196f3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first__item:hover > .first__page::after {
  opacity: 1;
}
.first__item:nth-child(3) {
  animation-name: jumping-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.first__item__item:hover > .first__item__page::after {
  opacity: 1;
}
.first__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.28px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first__link:hover {
  color: #2196f3;
}
.first__link:hover + .first__icons {
  fill: #2196f3;
}
.first__logo {
  margin-right: 93px;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.78px;
}
.first__contacts {
  font-size: 14px;
  font-weight: 500;
  display: flex;
}
.first__contact {
  align-items: center;
  display: flex;
}
.first__mail {
  margin-right: 50px;
  font-weight: 500;
  color: #757575;
  flex-direction: row-reverse;
}
.first__tel {
  flex-direction: row-reverse;
}
.first__wrap {
  display: flex;
  justify-content: space-between;
}
.first__icons {
  fill: #757575;
  width: 16px;
  height: 16px;
  display: flex;
  margin-right: 10px;
}
.first__link:hover + .first__icons {
  fill: #2196f3;
}
.first__span {
  color: #212121;
}
.first__flex {
  display: flex;
  align-items: center;
}
.first__list {
  width: 281px;
  display: flex;
  justify-content: space-between;
}

.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../photo/Img.webp);
  background-repeat: no-repeat;
  background-position: center, center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__text {
  margin-bottom: 30px;
  color: #fff;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.3;
  /* 136.364% */
  letter-spacing: 2.64px;
  text-transform: uppercase;
  animation-name: run-text;
  animation-duration: 2s;
}
.hero__button {
  border: none;
  padding: 10px 32px;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.8;
  /* 187.5% */
  letter-spacing: 0.96px;
  background: #2196f3;
  margin-left: 492px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero__button:hover, .hero__button:focus {
  box-shadow: 0px 4px 4px 0px grey;
}

.modal__backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__title {
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.6px;
  margin-bottom: 12px;
}
.modal__window {
  border-radius: 4px;
  background: #fff;
  flex-shrink: 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  height: 581px;
}
.modal__backdrop.is-hidden .modal__window {
  transform: translate(0);
  transform: scale(0);
}
.modal .is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal .no-scroll {
  overflow: hidden;
}
.modal__closebutton {
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  display: block;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
}
.modal__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}
.modal__name {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.modal__input {
  width: 448px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 35px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icons {
  position: absolute;
  top: 29px;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__icons:hover {
  fill: #2196f3;
}
.modal__comment {
  width: 448px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  padding: 12px 16px;
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.12px;
  resize: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
.modal__label {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.modal__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}
.modal__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
  text-decoration-line: underline;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__link:hover {
  color: #2196f3;
}
.modal__button {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.96px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 10px 52px;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  border-color: transparent;
  background-color: #188ce8;
}

.team {
  padding-bottom: 94px;
  padding-top: 94px;
  background-color: #f5f4fa;
}
.team__item {
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team__photo {
  margin-bottom: 30px;
}
.team__name {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.team__nick {
  margin-bottom: 10px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.48px;
}
.team__article {
  margin-bottom: 30px;
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.48px;
}
.team__icons {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover > .team__icons {
  fill: #ffffff;
}
.team__iconslist {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
}
.team__link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.team__link:hover {
  background-color: #2196f3;
}
.team__link__link:hover > .team__link__icons {
  fill: #ffffff;
}
.team__photo {
  width: 270px;
}
.team__list {
  display: flex;
  justify-content: space-between;
}

.work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work__name {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 1.08px;
  margin-bottom: 50px;
}
.work__decorate > .work__text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 370px;
  height: 70px;
  bottom: 4px;
  background: rgba(47, 48, 58, 0.8);
  color: #eee;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.work__decorate {
  position: relative;
}
.work__list {
  display: flex;
  justify-content: space-between;
}

@keyframes jumping-text {
  50% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes run-text {
  0% {
    transform: translateX(100%);
    color: #212121;
  }
  25% {
    color: #2f303a;
  }
  50% {
    color: #757575;
    font-size: 0px;
  }
  100% {
    transform: translateX(0%);
    font-size: 44px;
    color: #fff;
  }
}
@keyframes growing-box {
  50% {
    transform: scale(118%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes rotating-button {
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}/*# sourceMappingURL=main.css.map */