.goods__box {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: Roboto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  outline: solid red;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.grid-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.grid-item {
  width: calc((100% - 90px) / 3);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.goods {
  padding-bottom: 94px;
}
.goods__item {
  outline: 1px solid #fff;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__item:hover {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
}
.goods__box {
  background-color: rgba(33, 150, 243, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(0, 300px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__overlay:hover .goods__box {
  transform: translate(0, 0);
}
.goods__discription {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.54px;
  text-transform: none;
  width: 322px;
}
.goods__overlay {
  position: relative;
  width: 370px;
  height: 294px;
  margin: 0 auto;
  background-color: #fff;
  overflow: hidden;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.goods__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .goods__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .goods__list {
    display: flex;
    flex-wrap: wrap;
  }
}
.goods__name {
  width: 400px;
  padding-bottom: 10px;
  padding-top: 20px;
  padding-left: 24px;
  color: #212121;
  font-size: 18px;
  font-weight: 700;
  line-height: 2.2;
  letter-spacing: 1.08px;
  text-transform: none;
}
.goods__text {
  padding-bottom: 20px;
  padding-left: 24px;
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: 0.48px;
  text-transform: none;
}
.goods__photo {
  width: 100%;
  display: block;
  max-width: 100%;
}

.pages {
  padding-top: 94px;
  padding-bottom: 50px;
}
.pages__list {
  display: flex;
  justify-content: center;
  gap: 8px;
}
.pages__button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  text-transform: none;
  transition: background-color, box-shadow, color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pages__button:hover {
  background: #2196f3;
  color: #fff;
  box-shadow: 0px 2px 2px 0px grey;
}

.last {
  background-color: #2f303a;
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
}
.last__flex {
  display: flex;
}
@media screen and (max-width: 767px) {
  .last__flex {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 768px) {
  .last__flex {
    flex-direction: column;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .last__flex {
    flex-direction: row;
    gap: 93px;
  }
}
.last__box {
  width: 232px;
}
@media screen and (max-width: 768px) {
  .last__box {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 768px) {
  .last__table {
    display: flex;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .last__table {
    gap: 70px;
  }
}
.last__address {
  color: #fff;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 0.42px;
  text-transform: none;
  width: 207px;
}
@media screen and (max-width: 1199px) {
  .last__address {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__link {
  color: #afb1b8;
  margin-top: 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71;
  letter-spacing: 0.28px;
  text-transform: none;
  width: 134px;
}
.last__link:hover {
  color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last__subitem {
  width: 135px;
}
@media screen and (max-width: 1199px) {
  .last__subitem {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__logo {
  color: #2196f3;
  margin-right: 93px;
  font-size: 26px;
  font-weight: 700;
  line-height: none;
  letter-spacing: 0.78px;
  text-transform: none;
  font-family: Raleway;
  display: block;
  width: 154px;
}
@media screen and (max-width: 1199px) {
  .last__logo {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__studio {
  color: #fff;
}
.last__subbox {
  margin-top: 5px;
}
@media screen and (max-width: 767px) {
  .last__subbox {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1199px) {
  .last__subbox {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__subtext {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: none;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
  width: 115px;
}
@media screen and (max-width: 1199px) {
  .last__subtext {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__iconlist {
  display: flex;
  gap: 10px;
  width: 206px;
}
@media screen and (max-width: 1199px) {
  .last__iconlist {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__iconitem {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.last__sublink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}
.last__icons {
  fill: #fff;
  width: 20px;
  height: 20px;
}
.last__iconitem:hover {
  background-color: #2196f3;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.last__form {
  padding-top: 12px;
}
@media screen and (max-width: 1199px) {
  .last__form {
    display: flex;
    flex-direction: column;
  }
}
.last__subtitle {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  line-height: none;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media screen and (max-width: 1199px) {
  .last__subtitle {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__subcontainer {
  display: flex;
  gap: 12px;
}
@media screen and (max-width: 1199px) {
  .last__subcontainer {
    flex-direction: column;
  }
}
.last__subinput {
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(33, 150, 243, 0.01);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  padding: 15px 16px;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  text-transform: none;
}
@media screen and (max-width: 479px) {
  .last__subinput {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
@media screen and (min-width: 480px) {
  .last__subinput {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .last__subinput {
    width: 358px;
  }
}
.last__subinput:focus {
  outline: none;
  border: 1px solid #2196f3;
}
.last__subinput::-moz-placeholder {
  color: #afb1b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  text-transform: none;
}
.last__subinput::placeholder {
  color: #afb1b8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.48px;
  text-transform: none;
}
.last__subbutton {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.54px;
  text-transform: none;
  padding: 10px 28px;
  background-color: #2196f3;
  display: flex;
  width: 200px;
  gap: 10px;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border: none;
  animation-name: rotating-button;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
@media screen and (max-width: 1199px) {
  .last__subbutton {
    margin-left: auto;
    margin-right: auto;
  }
}
.last__subicon {
  fill: #fff;
}

.first {
  padding-top: 24px;
  padding-bottom: 25px;
}
.first__page {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: none;
  letter-spacing: 0.28px;
  text-transform: none;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first__page:hover {
  color: #2196f3;
}
.first__page::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 50px;
  width: 100%;
  height: 4px;
  opacity: 0;
  margin-top: 28px;
  justify-content: center;
  background-color: #2196f3;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first__item:hover > .first__page::after {
  opacity: 1;
}
.first__item:nth-child(3) {
  animation-name: jumping-text;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-delay: 0s;
}
.first__item__item:hover > .first__item__page::after {
  opacity: 1;
}
.first__link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: none;
  letter-spacing: 0.28px;
  text-transform: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.first__link:hover {
  color: #2196f3;
}
.first__link:hover + .first__icons {
  fill: #2196f3;
}
.first__logo {
  margin-right: 93px;
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: none;
  letter-spacing: 0.78px;
  text-transform: none;
}
.first__contacts {
  font-size: 14px;
  font-weight: 500;
  line-height: none;
  letter-spacing: none;
  text-transform: none;
  display: none;
}
@media screen and (min-width: 768px) {
  .first__contacts {
    display: flex;
    flex-wrap: wrap;
    margin-left: 96px;
  }
}
.first__contact {
  align-items: center;
  display: flex;
}
.first__mail {
  margin-right: 50px;
  font-weight: 500;
  color: #757575;
  flex-direction: row-reverse;
}
.first__tel {
  flex-direction: row-reverse;
}
.first__wrap {
  display: flex;
  justify-content: space-between;
}
.first__icons {
  fill: #757575;
  width: 16px;
  height: 16px;
  display: flex;
  margin-right: 10px;
}
.first__link:hover + .first__icons {
  fill: #2196f3;
}
.first__span {
  color: #212121;
}
.first__flex {
  display: flex;
  align-items: center;
}
.first__list {
  width: 281px;
  display: none;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .first__list {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .first__list {
    display: flex;
  }
}
.first__button {
  border: none;
}
@media screen and (min-width: 768px) {
  .first__button {
    display: none;
  }
}
.first__menu {
  fill: black;
  width: 40px;
  height: 40px;
}

@keyframes jumping-text {
  50% {
    transform: translateY(-70%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes run-text {
  0% {
    transform: translateX(100%);
    color: #212121;
  }
  25% {
    color: #2f303a;
  }
  50% {
    color: #757575;
    font-size: 0px;
  }
  100% {
    transform: translateX(0%);
    color: #fff;
    @media screen and (min-width: 1200px) {
      font-size: 44px;
    }
  }
}
@keyframes growing-box {
  50% {
    transform: scale(118%);
  }
  100% {
    transform: scale(100%);
  }
}
@keyframes rotating-button {
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}/*# sourceMappingURL=portfolio.css.map */