.advantages {
    padding-top: 94px;

&__item {
    margin-left: 30px;

    &:first-child:before {
    margin-bottom: 30px;
    content: "" url(../photo/Satellite.webp);
    display: block;
}

&:nth-child(2):before {
    margin-bottom: 30px;
    content: "" url(../photo/Clock.webp);
    display: block;
}

&:nth-child(3):before {
    margin-bottom: 30px;
    content: "" url(../photo/Computer.webp);
    display: block;
}

&:nth-child(4):before {
    margin-bottom: 30px;
    content: "" url(../photo/SpaceMan.webp);
    display: block;
}
}



&__name {
    margin-bottom: 10px;
    color: $title-color;
    @include text ($size:14px,$weight:700,$height:none,$spacing:0.42px,$transform:uppercase);
}

&__article {
    color: $text-color;
    @include text ($size:14px,$weight:400,$height:1.7,$spacing:0.42px,$transform:none);
}
&__list {
    display: flex;
    justify-content: space-between;
}
}