.advantages {
    padding-top: 94px;

&__item {
    margin-left: 30px;

    &:first-child:before {
    margin-bottom: 30px;
    content: "" url(../photo/Satellite.webp);
    display: block;
}

&:nth-child(2):before {
    margin-bottom: 30px;
    content: "" url(../photo/Clock.webp);
    display: block;
}

&:nth-child(3):before {
    margin-bottom: 30px;
    content: "" url(../photo/Computer.webp);
    display: block;
}

&:nth-child(4):before {
    margin-bottom: 30px;
    content: "" url(../photo/SpaceMan.webp);
    display: block;
}
}



&__name {
    margin-bottom: 10px;
    color: $title-color;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

&__article {
    color: $text-color;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    /* 171.429% */
    letter-spacing: 0.42px;
}
&__list {
    display: flex;
    justify-content: space-between;
}
}