.clients {
  padding-bottom: 94px;
  padding-top: 94px;

  &__list {
display: flex;
justify-content: center;
gap: 30px; 
flex-wrap: wrap;

    @media screen and (min-width:1200px) {
    flex-wrap: nowrap;
    }
  }

  &__item {
    @extend %child-clients;

    &:nth-child(1) {
      @extend %child-clients;
      @include animations ($name: growing-box, $duration:2s, $count:infinite,$delay:0s); 
    }
    &:nth-child(2) {
      @extend %child-clients;
      @include animations ($name: growing-box, $duration:2s, $count:infinite, $delay:250ms);
    }
    &:nth-child(3) {
      @extend %child-clients;
      @include animations ($name: growing-box, $duration:2s, $count:infinite, $delay:500ms);
    }
    &:nth-child(4) {
      @extend %child-clients;
      @include animations ($name: growing-box, $duration:2s, $count:infinite, $delay:750ms);
    }
    &:nth-child(5) {
      @extend %child-clients;
      @include animations ($name: growing-box, $duration:2s, $count:infinite, $delay:1s);
    }
    &:nth-child(6) {
      @extend %child-clients;
      @include animations ($name: growing-box, $duration:2s, $count:infinite, $delay:1.25s);
    }

    &:hover {
      border: 1px solid $logo-color;
    }
  }

  &__item:hover > &__icons {
    fill: $logo-color;
  }
  &__title {
    color: $title-color;
    text-align: center;
    @include text ($size:36px,$weight:700,$height:none,$spacing:1.08px,$transform:none);
    margin-bottom: 66px;
  }

  &__icons {
    fill: $icons-color;
    width: 106px;
    height: 60px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__item:hover > &__icons {
    fill: $logo-color;
  }
}
