.last {
    padding-top: 60px;
    padding-bottom: 60px;
    background: $footer-color;

&__container {
    display: flex;
    gap: 70px;
}

&__item {
    margin-bottom: 10px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__logo {
    color: $logo-color;
    font-family: Raleway;
    @include text ($size:26px,$weight:700,$height:none,$spacing:0.78px,$transform:none);
    
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__article {
    margin-bottom: 18px;
    margin-top: 20px;
    color: $article-color;
    @include text ($size:14px,$weight:400,$height:1.7,$spacing:0.42px,$transform:none);
    width: 300px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__link {
    color: $number-color;
    @include text ($size:14px,$weight:400,$height:1.7,$spacing:0.42px,$transform:none);
}

&__text {
    color: $article-color;
    @include text ($size:14px,$weight:700,$height:none,$spacing:0.42px,$transform:uppercase);
    margin-bottom: 32px;
    padding-top: 10px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__iconsfooter {
    fill: $header-color;
    width: 20px;
    height: 20px;
}

&__iconslink {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    width: 44px;
    height: 44px;
    @extend %centering;
}

&__icons {
    border-radius: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    background-color: $logo-color;
}
}



&__list {
    gap: 12px;
    display: flex;

     @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__form {
    padding-top: 12px;
    margin-left: 80px;

    @media screen and (max-width: 1199px) {
      display: flex;
      flex-direction: column;
    }
}

&__title {
    color: $discripton-color;
    @include text ($size:14px,$weight:700,$height:none,$spacing:0.42px,$transform:uppercase);
    margin-bottom: 20px;

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__container {
    display: flex;
    gap: 12px;

      @media screen and (max-width: 1199px) {
      flex-direction: column;
    }

    
}

&__input {
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(33, 150, 243, 0.01);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 15px 16px;
    width: 358px;
    color: $discripton-color;
    @include text ($size:16px,$weight:400,$height:1.25,$spacing:0.48px,$transform:none);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &::placeholder {
    @include text ($size:16px,$weight:400,$height:1.25,$spacing:0.48px,$transform:none);
}

@media screen and (max-width: 479px) {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }
    @media screen and (min-width: 480px) {
      margin-left: auto;
      margin-right: auto;
      width: 450px;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
}



&__button {
    color: $discripton-color;
    @include text ($size:16px,$weight:700,$height:1.87,$spacing:0.96px,$transform:none);
    padding: 10px 28px;
    background-color: $background-color;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: none;
    @include animations ($name: rotating-button, $duration:3s, $count:infinite,$delay:0s);

    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}

&__icon {
    fill: $article-color;
    width: 24px;
    height: 24px;
}
&__span {
    color: $discripton-color;
}
&__div{
     @media screen and (max-width: 767px) {
      margin-top: 60px;
    }
    @media screen and (max-width: 1199px) {
      margin-left: auto;
      margin-right: auto;
    }
}
&__info{

    @media screen and (min-width: 1200px) {
      gap: 70px;
    }

     @media screen and (max-width: 768px) {
      margin-left: auto;
      margin-right: auto;
    }
}
}