.first {
  padding-top: 24px;
  padding-bottom: 25px;

  &__page {
    color: $title-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $logo-color;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50px;
      width: 100%;
      height: 4px;
      opacity: 0;
      margin-top: 28px;
      justify-content: center;
      background-color: $logo-color;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__item:hover > &__page::after {
    opacity: 1;
  }

  &__item {
    &:nth-child(3) {
      animation-name: jumping-text;
      animation-duration: 3s;
      animation-iteration-count: infinite;
    }

    &__item:hover > &__page::after {
      opacity: 1;
    }
  }
  &__link {
    color: $text-color;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $logo-color;
    }
  }

  &__link:hover + &__icons {
    fill: $logo-color;
  }
  &__logo {
    margin-right: 93px;
    color: $logo-color;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
  }

  &__contacts {
    font-size: 14px;
    font-weight: 500;
    display: flex;
  }

  &__contact {
    align-items: center;
    display: flex;
  }

  &__mail {
    margin-right: 50px;
    font-weight: 500;
    color: $text-color;
    flex-direction: row-reverse;
  }

  &__tel {
    flex-direction: row-reverse;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    fill: $text-color;
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: 10px;
  }

  &__link:hover + &__icons {
    fill: $logo-color;
  }
  &__span {
    color: #212121;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__list {
    width: 281px;
    display: flex;
    justify-content: space-between;
  }
}
