.first {
  padding-top: 24px;
  padding-bottom: 25px;

  &__page {
    color: $title-color;
    @include text ($size:14px,$weight:500,$height:none,$spacing:0.28px,$transform:none);
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $logo-color;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      border-radius: 50px;
      width: 100%;
      height: 4px;
      opacity: 0;
      margin-top: 28px;
      justify-content: center;
      background-color: $logo-color;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  &__item:hover > &__page::after {
    opacity: 1;
  }

  &__item {
    &:nth-child(3) {
      @include animations ($name: jumping-text, $duration:3s, $count:infinite, $delay:0s);
    }

    &__item:hover > &__page::after {
      opacity: 1;
    }
  }
  &__link {
    color: $text-color;
    @include text ($size:14px,$weight:500,$height:none,$spacing:0.28px,$transform:none);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      color: $logo-color;
    }
  }

  &__link:hover + &__icons {
    fill: $logo-color;
  }
  &__logo {
    margin-right: 93px;
    color: $logo-color;
    font-family: Raleway;
    @include text ($size:26px,$weight:700,$height:none,$spacing:0.78px,$transform:none);
  }

  &__contacts {
    @include text ($size:14px,$weight:500,$height:none,$spacing:none,$transform:none);
    display: none;

    @media screen and (min-width:768px ){
      display: flex;
      flex-wrap: wrap;
      padding-left: 96px;
    }  
  }

  &__contact {
    align-items: center;
    display: flex;
  }

  &__mail {
    margin-right: 50px;
    font-weight: 500;
    color: $text-color;
    flex-direction: row-reverse;
  }

  &__tel {
    flex-direction: row-reverse;
  }

  &__wrap {
    display: flex;
    justify-content: space-between;
  }

  &__icons {
    fill: $text-color;
    width: 16px;
    height: 16px;
    display: flex;
    margin-right: 10px;
  }

  &__link:hover + &__icons {
    fill: $logo-color;
  }
  &__span {
    color: $title-color;
  }
  &__flex {
    display: flex;
    align-items: center;
  }
  &__list {
    width: 281px;
    display: none;
    justify-content: space-between;

    @media screen and (min-width:768px) {
      display: flex;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
&__button{
border: none;

@media screen  and (min-width:768px) {
display: none;
}
  
}
&__menu{
fill: black;
width: 40px;
height: 40px;
}
}
