.work {
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width:1200px){
        display: flex;
    }


&__name {
    color: $title-color;
    text-align: center;
    @include text ($size:36px,$weight:700,$height:none,$spacing:1.08px,$transform:none);
    margin-bottom: 50px;
}

&__decorate>&__text {
    @extend %centering;
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0.1px;
    background: rgba(47, 48, 58, 0.8);
    color: #eee;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

&__decorate {
    position: relative;
}
&__list {
    display: flex;
    justify-content: space-between;
}
}