@keyframes jumping-text{
  50%{
transform: translateY(-70%);
  }
  100%{
transform: translateY(0%);
  }
}

@keyframes run-text{
  0%{

transform:translateX(100%) ;
color: $title-color;
  }
  25%{
color: $footer-color;
  }
  50%{
color: $text-color;
font-size: 0px;
  }
  100%{
    transform: translateX(0%);
    font-size: 26px;
    color: $article-color;

    @media screen and (min-width:1200px){
      font-size: 44px;
    }
  }
}

@keyframes growing-box{
50%{
transform: scale(118%);
}
  100%{
transform: scale(100%);
  }
}

@keyframes rotating-button{
25%{
  transform: rotate(-10deg);
}
  50%{
transform: rotate(10deg);
  }
  75%{
transform: rotate(-10deg);
  }
}