%centering {
    display: flex;
    justify-content: center;
    align-items: center;
}
%child-clients{
    border-radius: 4px;
    border: 1px solid ;
    padding: 16px 32px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}