:root {
    --header-color: #ffffff;
    --logo-color: #2196f3;
    --firstsection-color: #2f303a;
    --article-color: #fff;
    --title-color: #212121;
    --text-color: #757575;
    --footer-color: #2f303a;
    --team-color: #f5f4fa;
    --icons-color: #afb1b8;
    --number-color: rgba(255, 255, 255, 0.6);
    --grid-gap: 30px;
    --goods: 3;
}