.goods {
    padding-bottom: 94px;

&__item {
    $goods: 3;
    outline: 1px solid $discripton-color;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
    box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
        0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12); 
}
}




&__box {
    background-color: rgba(33, 150, 243, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @extend %centering;
    transform: translate(0, 300px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__overlay:hover &__box {
    transform: translate(0, 0);
}

&__discription {
    color: $article-color;
    @include text ($size:18px,$weight:400,$height:28px,$spacing:0.54px,$transform:none);
    width: 322px;
}

&__overlay {
    position: relative;
    width: 370px;
    height: 294px;
    margin: 0 auto;
    background-color: $article-color;
    overflow: hidden;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__list {
 display: flex;
 justify-content: center;
 flex-direction: column;

    @media screen and (min-width:768px) {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px) {
    $grid-gap: 30px;
    display: flex;
    flex-wrap: wrap;
    }
}

&__name {
    width: 400px;
    padding-bottom: 10px;
    padding-top: 20px;
    padding-left: 24px;
    color: $title-color;
    @include text ($size:18px,$weight:700,$height:2.2,$spacing:1.08px,$transform:none);
}

&__text {
    padding-bottom: 20px;
    padding-left: 24px;
    color: $text-color;
    @include text ($size:16px,$weight:400,$height:1.8,$spacing:0.48px,$transform:none);
}

&__photo {
    width: 100%;
    display: block;
    max-width: 100%;
}

}