body {
    font-family: Roboto;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.grid-list {
    display: flex;
    justify-content: center;
    gap: $grid-gap;
}

.grid-item {
    width: calc((100% - $grid-gap * $goods) / $goods);
}