body {
    font-family: Roboto;
}

.container {
    margin: 0 auto;
    padding: 0 15px;


@media screen and (min-width:320px) {
        width: 100%;
}

@media screen and (min-width:480px)  {
   width: 480px; 
}
@media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

}
.grid-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.grid-item {
    width: calc((100% - 30px * 3) / 3);
}